.foot{
    // border: 3px solid black;
    margin: 3rem 0 0;
    text-transform: capitalize;
    padding: 3rem 0 3rem;
    background-color: #2d80b5;
    color: #fff;
  .footer1{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid white;
    margin: 0 3rem;
    padding-bottom: 1rem;
    .foot_logo{
        img{
            background-color: #2d80b5;
            height: 10%;
            width: 20%;
        }
    }
    .foot_info{
        display: grid;
        grid-template-columns: 33% 33% 33%;
        .foot_contact{
            margin-top: 1.5rem;
            h3{
                margin: 0;
                font-size: 0.9rem;
                font-weight: 200;
                span{
                    font-size: 1rem;
                    font-weight: 700;
                }
            }
        }
        .foot_service,.foot_feed{
            padding-bottom: 0.5rem;
            h2{
                margin: 1rem 0 0 0;
                span{
                    font-size: 1rem;
                    font-weight: 700;
                }
            }
            h3{
                font-size: 0.9rem;
                font-weight: 200;
                margin: 0;
            }
        }
    }
  }
  .footer2{
    margin: 0 3rem;
    padding-top: 1rem;
    .foot_address{
    display: grid;
    grid-template-columns: 45% 40%;
    column-gap: 5%;
    .company_details, .company_address{
       h3{
        font-size: 1rem;
        text-transform: uppercase;
        
       }
       h5{
        font-size: 0.9rem;
        font-weight: 100;
    }
    }
    }
  }
  .copyright{
    text-align: center;
    h5{
        font-size: 0.9rem;
        font-weight: 100;
    }
  }
}